.child1 {
    font-family: Arial;
    margin-top: 20px;
    text-align: center;
}
  
.child1 h4 {
    display: inline;
    margin-right: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 600;
}

#askmonth {
    margin-top: 20px;
    display: inline-block;
}

.lineplot {
    display: block;
    margin: 0 auto;
  }